## Exploring India's COVID-19 Journey

#### Data Cleaning for death_and_recovery dataset

In [2]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# Task1
# Loading the data
def read_data_from_csv():
    df = pd.read_csv('death_and_recovery.csv')
    return df


def data_cleaning():
    # DO NOT REMOVE FOLLOWING LINE
    data = read_data_from_csv()

    # Remove Unwanted columns (comorbidity, State_code)
    unwanted_columns = ['comorbidity', 'State_code']
    data.drop(columns=unwanted_columns, inplace=True)

    # Only keep these columns in the dataset (Age, Gender, Patient_status, City, State)
    allowed_columns = ['Age', 'Gender', 'Patient_status', 'City', 'State']
    data = data[allowed_columns]

    # Export cleaned Dataset to a new CSV file named "death_and_recovery_cleaned.csv"
    data.to_csv('death_and_recovery_cleaned.csv', index=False)
    
    return data

In [4]:
data_cleaning()

    Age Gender Patient_status        City              State
0    70      M       Deceased      Mumbai        Maharashtra
1    85      M       Deceased      Mumbai        Maharashtra
2    54      F      Recovered   Bangalore          Karnataka
3    65      M      Recovered     Chennai            Chennai
4    55      F      Recovered      Indore     Madhya Pradesh
5    20      M      Recovered     Udaipur          Rajasthan
6    21      F      Recovered       Delhi              Delhi
7    45      M      Recovered       Thane        Maharashtra
8    30      M      Recovered       Kochi             Kerala
9    57      M       Deceased      Howrah        West Bengal
10   49      F       Deceased      Indore     Madhya Pradesh
11   57      M       Deceased   Belghoria        West Bengal
12   25      M       Deceased   Gorakhpur      Uttar Pradesh
13   55      F      Recovered   Hyderabad          Telangana
14   26      F      Recovered     Kashmir  Jammu and Kashmir
15   38      M      Recovered    Amritsar             Punjab
16   44      F      Recovered    Siliguri        West Bengal
17   57      M      Recovered        Pune        Maharashtra
18   45      F      Recovered    Guwahati              Assam
19   65      F      Recovered      Dispur              Assam
20   51      M       Deceased      Mumbai        Maharashtra
21   72      M       Deceased      Meerut      Uttar Pradesh
22   45      M      Recovered     Lucknow      Uttar Pradesh
23   56      M       Deceased     Dharavi        Maharashtra
24   52      M       Deceased      Rajkot            Gujarat
25   68      F       Deceased        Puri       Bhubaneshwar
26   40      F       Deceased      Bhopal     Madhya Pradesh
27   55      F      Recovered    Shillong          Meghalaya
28   54      M       Deceased      Jaipur          Rajasthan
29   42      M      Recovered     Gangtok        West Bengal
30   24      F       Deceased    dehradun        uttarakhand
31   23      M      Recovered  Darjeeling        West Bengal
32   78      F      Recovered     Roorkie        uttarakhand
33   54      M      Recovered    Haridwar        uttarakhand
34   74      F      Recovered      Mysore          Karnataka

#### Data Cleaning for hospitalbeds dataset

In [7]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#Task1
#Loading the data
def read_data_from_csv():
    #read the dataset
    df = pd.read_csv('hospitalbeds.csv')
    return df


#Task 2: Renaming the Columns
def rename_columns():
    data=read_data_from_csv()
    """Rename the columns in the dataset. ("'serial': 'sno','state': 'State_UT','Hosp_Aval': 'Hospitals_Available',
    'Beds_Aval': 'Beds_Available','Pop_beds':'Population_beds'")"""
    data.rename(columns={'serial': 'sno','state': 'State_UT','Hosp_Aval': 'Hospitals_Available',
    'Beds_Aval': 'Beds_Available','Pop_beds':'Population_beds'}, inplace=True)


    # export cleaned Dataset to newcsv file named "hospitalbeds_cleaned.csv"
    data.to_csv("hospitalbeds_cleaned.csv", index = False)
    return data

In [8]:
rename_columns()

,sno,State_UT,Hospitals_Available,Beds_Available,Population_beds
0,1,Andhra Pradesh,460,37961,2230
1,2,Arunachal Pradesh,384,5010,236
2,3,Assam,1020,10179,3062
3,4,Bihar,671,13231,7846
4,5,Chhattisgarh,2023,10770,1984
5,6,Goa,11,2510,581
6,7,Gujarat,1553,35470,1746
7,8,Haryana,154,7879,3122
8,9,Himachal Pradesh,151,8485,808
9,10,Jammu +ACY- Kashmir,1969,7318,1733
10,11,Jharkhand,549,5414,6089
11,12,Karnataka,765,51986,1119
12,13,Kerala,1255,37021,910
13,14,Madhya Pradesh,1539,30302,2492
14,15,Maharashtra,1173,47217,2477
15,16,Manipur,225,1385,2
16,17,Meghalaya,40,2957,876
17,18,Mizoram,22,1064,1132
18,19,Nagaland,53,2427,905
19,20,Orissa,1750,16683,2514
20,21,Punjab,243,11419,2426
21,22,Rajasthan,2512,38617,1777
22,23,Sikkim,33,1560,390
23,24,Tamil Nadu,1995,62229,1203
24,25,Tripura,39,3485,1026
25,26,Uttar Pradesh,861,56384,3499
26,27,Uttarakhand,695,7965,1194
27,28,West Bengal,1566,77210,1213
28,29,Andaman+AKA- +ACY- Nicobar Islands,32,1075,353
29,30,Chandigarh,5,1750,603
30,31,Dadra +ACY- Nagar Haveli,2,281,1221
31,32,Daman +ACY- Diu,4,200,1215
32,33,Delhi,109,22961,744
33,34,Lakshadweep,3,120,533
34,35,Puducherry,50,2103,571
35,36,India,35416,1376013,879

#### Data Cleaning for statewisedata dataset

In [12]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#Task1
#Loading the data
def read_data_from_csv():
    df = pd.read_csv('statewisedata.csv')
    return df


def data_cleaning():
    # DO NOT REMOVE FOLLOWING LINE
    data = read_data_from_csv()

    # Remove Unwanted columns(Delta_Confirmed,Delta_Recovered,Delta_Deaths)
    unwanted_columns = ['Delta_Confirmed','Delta_Recovered','Delta_Deaths']
    data.drop(columns=unwanted_columns, inplace=True)
    # only these columns are allowed in the dataset
    #(State_UT,Confirmed,Recovered,Deaths,Active,Last_updad_time,State_code)
    allowed_columns = ['State_UT','Confirmed','Recovered','Deaths','Active','Last_updad_time','State_code']
    data = data[allowed_columns]
    # export cleaned Dataset to newcsv file named "statewisedata_cleaned.csv"
    data.to_csv("statewisedata_cleaned.csv", index = False)
    return data

In [13]:
 data_cleaning()

,State_UT,Confirmed,Recovered,Deaths,Active,Last_updad_time,State_code
0,Total,3210,229,86,2895,04-04-2020 14:37,TT
1,Maharashtra,537,50,26,461,04-04-2020 14:17,MH
2,Tamil Nadu,411,6,1,404,03-04-2020 17:37,TN
3,Delhi,386,8,6,372,03-04-2020 23:32,DL
4,Kerala,295,42,2,251,03-04-2020 19:07,KL
5,Telangana,229,32,11,186,03-04-2020 20:27,TG
6,Rajasthan,198,3,0,195,04-04-2020 14:27,RJ
7,Uttar Pradesh,174,17,2,155,03-04-2020 23:57,UP
8,Andhra Pradesh,180,2,1,177,03-04-2020 23:32,AP
9,Madhya Pradesh,154,0,8,146,03-04-2020 23:52,MP
10,Karnataka,128,11,4,113,03-04-2020 23:42,KA
11,Gujarat,105,10,9,86,04-04-2020 14:27,GJ
12,Jammu and Kashmir,78,3,2,73,04-04-2020 14:17,JK
13,Haryana,58,27,0,31,03-04-2020 20:27,HR
14,West Bengal,53,3,6,44,02-04-2020 18:32,WB
15,Punjab,57,1,5,51,04-04-2020 14:37,PB
16,Bihar,31,3,1,27,03-04-2020 21:12,BR
17,Assam,25,0,0,25,04-04-2020 14:37,AS
18,Odisha,20,2,0,18,03-04-2020 23:42,OR
19,Chandigarh,18,0,0,18,02-04-2020 18:57,CH
20,Uttarakhand,16,2,0,14,03-04-2020 21:47,UT
21,Ladakh,14,3,0,11,27-03-2020 11:52,LA
22,Andaman and Nicobar Islands,10,0,0,10,30-03-2020 11:27,AN
23,Chhattisgarh,9,3,0,6,31-03-2020 23:07,CT
24,Himachal Pradesh,6,1,2,3,03-04-2020 17:17,HP
25,Goa,7,0,0,7,04-04-2020 09:42,GA
26,Puducherry,5,0,0,5,03-04-2020 02:37,PY
27,Jharkhand,2,0,0,2,02-04-2020 19:42,JH
28,Manipur,2,0,0,2,02-04-2020 09:42,MN
29,Mizoram,1,0,0,1,26-03-2020 07:19,MZ
30,Arunachal Pradesh,1,0,0,1,02-04-2020 11:42,AR
31,Dadra and Nagar Haveli,0,0,0,0,26-03-2020 07:19,DN
32,Daman and Diu,0,0,0,0,26-03-2020 07:19,DD
33,Lakshadweep,0,0,0,0,26-03-2020 07:19,LD
34,Meghalaya,0,0,0,0,26-03-2020 07:19,ML
35,Nagaland,0,0,0,0,26-03-2020 07:19,NL
36,Sikkim,0,0,0,0,26-03-2020 07:19,SK
37,Tripura,0,0,0,0,26-03-2020 07:19,TR

#### Data Cleaning for agedistribution_2016_estimates dataset

In [14]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

#Task1
#Loading the data
def read_data_from_csv():
    #Read the dataset
    df = pd.read_csv('agedistribution_2016_estimates.csv')
    return df


#Task 2: Renaming the Columns
def rename_columns():
    data=read_data_from_csv()
    """(Rename the column names as 'Age': 'Age_group',
        'M': 'Male',
        'F': 'Female',
        'Tot': 'Total')"""
    data.rename(columns={'Age': 'Age_group',
        'M': 'Male',
        'F': 'Female',
        'Tot': 'Total'}, inplace=True)
    

    # export cleaned Dataset to newcsv file named "agedistribution_2016_estimates_cleaned.csv"
    data.to_csv("agedistribution_2016_estimates_cleaned.csv", index = False)
    
    return data

In [15]:
rename_columns()

   Age_group  Male  Female  Total
0        0-4   8.7     8.2    8.5
1        5-9   9.1     8.8    8.9
2      10-14   9.8     9.4    9.6
3      15-19  10.4     9.9   10.1
4      20-24  10.2    10.7   10.4
5      25-29   9.5     9.8    9.7
6      30-34   8.1     8.0    8.1
7      35-39   7.0     7.2    7.1
8      40-44   6.1     6.1    6.1
9      45-49   5.3     5.4    5.3
10     50-54   4.4     4.3    4.3
11     55-59   3.5     3.7    3.6
12     60-64   3.0     3.1    3.1
13     65-69   2.1     2.2    2.2
14     70-74   1.4     1.5    1.5
15     75-79   0.8     0.9    0.9
16     80-84   0.4     0.5    0.5
17       85+   0.2     0.3    0.3
18      0-14  27.6    26.4   27.0
19     15-64  67.5    68.2   67.8
20       65+   4.9     5.4    5.4